<a href="https://colab.research.google.com/github/islahmun/TryMachineLearning/blob/master/Modul_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [4]:
import os
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'california_housing_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv',
 'mnist_test.csv']

In [5]:
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

# **Normalization**

In [0]:
from sklearn.preprocessing import MinMaxScaler
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [0]:
scaler = MinMaxScaler()
scaler.fit(data)

In [0]:
print(scaler.transform(data))

# **Standardization**

In [0]:
from sklearn import preprocessing
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [0]:
scaler = preprocessing.StandardScaler().fit(data)

In [0]:
data = scaler.transform(data)

In [0]:
data

# **SKLearn Train Test Split**

In [0]:
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [0]:
iris = datasets.load_iris()

In [0]:
x=iris.data
y=iris.data

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# **SKLearn Cross Validation**

In [0]:
import sklearn
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn import  tree

iris = datasets.load_iris()

In [0]:
x=iris.data
y=iris.target

In [0]:
clf = tree.DecisionTreeClassifier()

In [0]:
scores = cross_val_score(clf, x, y, cv=5)

In [0]:
scores